extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class='h1')
    h1= title
    div(id='questions')
        each question in questions
            div(class='question-summary')
                div(class='stats-container')
                    div(class='vote-div')
                        div(class='votes')
                            a(title=question.QuestionVotes[0].score href='/questions/' + question.id)= question.QuestionVotes[0].score
                        div(class='labels') votes
                    div(class='responses-div')
                        div(class='responses')
                            a(title=question.Responses.length href='/questions/' + question.id)= question.Responses.length
                        div(class='labels') responses
                div(class='summary')
                    h3
                        a(class ='question-link' href='/questions/' + question.id)= question.questionTitle
                    div(class='excerpt')= question.questionText
                    div(class='tags') put tags here
                    div(class='author')= question.User.userName
                    //- div(class='createdAt')= question.createdAt
