extends layout

append head
    link(rel='stylesheet' href='/stylesheets/search.css')
    link(rel="stylesheet" href="/stylesheets/index.css")


block content
    h1= title
    div(class="left-padding-20 width-80")
        h3(class="gray-text small-text bottom-padding-40")= `Results for ${inputText}`
        h3(class="large-text bottom-padding-40 gray-border-bottom")= `${questions.length} Results`
        for question in questions
            div(class="all-padding-10 search-result-container gray-border-bottom")
                a(class="search-result-link blue-link-text" href=`/questions/${question.id}`)= `Q: ${question.questionTitle}`
                p(class="search-result-summary")= question.questionText
                div(class="search-result-meta-container")
                    div(class="search-result-tags-container")
                        each tag in question.Tags
                            div(class="search-result-tag")
                                a(class='question-tag' href=`/search?q=${tag.name}`)= tag.name
                    div(class="search-result-author-info small-text")
                        span(class="gray-text")= `asked ${question.createdAt} by `
                        a(class="search-result-author-link blue-link-text")= question.User.userName
